<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-5">
    <main class="login-form">
      <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h3 class="mb-3 font-weight-nomal">Welcome Back!</h3>
        </div>
        <div *ngIf="formGroup.controls['Email'] as control" class="form-floating mb-3">
          <input [class.is-invalid]="control.touched && control.invalid" formControlName="Email" placeholder="Email"
            name="email" type="text" class="form-control" />
          <label for="email">Email <span style="color: red">*</span></label>
          <error-message [control]="control"></error-message>
        </div>
        <div *ngIf="formGroup.controls['Password'] as control" class="form-floating mb-3 position-relative">
          <input [class.is-invalid]="control.touched && control.invalid" formControlName="Password"
            placeholder="Password" name="password" [type]="isShowPassword ? 'text' : 'password'" class="form-control" />
          <label for="password">Password <span style="color: red">*</span></label>
          <i *ngIf="!isShowPassword" (click)="isShowPassword = !isShowPassword"
            class="bi bi-eye-slash position-absolute icon-eye"></i>
          <i *ngIf="isShowPassword" (click)="isShowPassword = !isShowPassword"
            class="bi bi-eye position-absolute icon-eye"></i>
          <error-message [control]="control"></error-message>
        </div>
        <ng-container *ngIf="serverErrorMessages.length">
          <div *ngFor="let serverErrorMessage of serverErrorMessages">
            <span class="invalid-feedback">
              {{ serverErrorMessage }}
            </span>
          </div>
        </ng-container>

        <div class="d-grid mt-4 px-1">
          <button [disabled]="isPending" class="btn btn-lg btn-primary" type="submit">
            Login
          </button>
        </div>
      </form>
      <div class="mt-4 text-center">
        <a class="btn btn-link">
          <h6>Forgot password</h6>
        </a>
      </div>
    </main>
  </div>
</div>