<div class="d-flex justify-content-center">
    <div class="col-12 col-lg-5">
        <main class="login-form">
            <form>
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-nomal">Welcome Back!</h3>
                </div>
                <div class="form-floating mb-3">
                    <input placeholder="Email" name="email" type="text" class="form-control" p>
                    <label for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input placeholder="Password" name="password" type="password" class="form-control">
                    <label for="password">Password</label>
                </div>
                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-lg btn-info" type="submit">Log in</button>
                </div>
            </form>
            <div class="mt-4 text-center">
                <a class="btn btn-link">
                    <h6>Forgot password</h6>
                </a>
            </div>
        </main>
    </div>
</div>
