<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="nav-brand" routerLink="/">
        <img src="./assets/images/logo.png" alt="LOGO" class="me-3 cursor-pointer">
      </a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/employee" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">Employee</a>
          </li>
        </ul>
        <ng-container *ngIf="user$ | async as user; else notLogin">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item d-flex align-items-center m-2">
              <h5 class="m-0 text-white">{{user.FirstName + " " + user.LastName}}</h5>
            </li>
            <li class="nav-item">
              <button (click)="onLogoutBtnClick()" class="btn btn-warning">
                Logout
              </button>
            </li>
          </ul>
        </ng-container>
        <ng-template #notLogin>
          <ul class="navbar-nav align-items-center">
            <li class="nav-item">
              <a class="btn btn-primary mx-2" routerLink="/auth/register" routerLinkActive="btn-success"
                [routerLinkActiveOptions]="{exact: true}">
                Register
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary" routerLink="/auth/login" routerLinkActive="btn-success"
                [routerLinkActiveOptions]="{exact: true}">
                Login
              </a>
            </li>
          </ul>
        </ng-template>


      </div>
    </div>
  </nav>
</header>