<div class="d-flex justify-content-center">
  <div class="col-12 col-lg-5">
    <main class="login-form">
      <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="submitForm()">
        <div class="text-center mb-4">
          <h3 class="mb-3 font-weight-nomal">Create a new account</h3>
        </div>
        <div *ngIf="formGroup.controls['FirstName'] as control" class="form-floating mb-3">
          <input [class.is-invalid]="control.touched && control.invalid" formControlName="FirstName"
            placeholder="First Name" name="FirstName" type="text" class="form-control" />
          <label for="FirstName">First Name <span style="color: red">*</span></label>
          <error-message [control]="control"></error-message>
        </div>
        <div *ngIf="formGroup.controls['LastName'] as control" class="form-floating mb-3">
          <input [class.is-invalid]="control.touched && control.invalid" formControlName="LastName"
            placeholder="Last Name" name="LastName" type="text" class="form-control" />
          <label for="LastName">Last Name <span style="color: red">*</span></label>
          <error-message [control]="control"></error-message>
        </div>
        <div *ngIf="formGroup.controls['Email'] as control" class="form-floating mb-3">
          <input [class.is-invalid]="control.touched && control.invalid" formControlName="Email" placeholder="Email"
            name="Email" type="text" class="form-control" />
          <label for="Email">Email <span style="color: red">*</span></label>
          <error-message [control]="control"></error-message>
        </div>
        <ng-container formGroupName="Passwords" *ngIf="formGroup?.get('Passwords') as controls">
          <div *ngIf="controls.get('Password') as control" class="form-floating mb-3 position-relative">
            <input [class.is-invalid]="control.touched && control.invalid" formControlName="Password"
              placeholder="Password" name="Password" [type]="isShowPassword ? 'text' : 'password'"
              class="form-control" />
            <label for="Password">Password <span style="color: red">*</span></label>
            <i *ngIf="!isShowPassword" (click)="isShowPassword = !isShowPassword"
              class="bi bi-eye-slash position-absolute icon-eye"></i>
            <i *ngIf="isShowPassword" (click)="isShowPassword = !isShowPassword"
              class="bi bi-eye position-absolute icon-eye"></i>
            <error-message [control]="control"></error-message>
          </div>
          <div *ngIf="controls.get('ConfirmPassword') as control" class="form-floating mb-3 position-relative">
            <input [class.is-invalid]="control.touched && control.invalid" formControlName="ConfirmPassword"
              placeholder="Confirm Password" name="ConfirmPassword" [type]="isShowConfirmPassword ? 'text' : 'password'"
              class="form-control" />
            <label for="ConfirmPassword">Confirm Password <span style="color: red">*</span></label>
            <i *ngIf="!isShowConfirmPassword" (click)="isShowConfirmPassword = !isShowConfirmPassword"
              class="bi bi-eye-slash position-absolute icon-eye"></i>
            <i *ngIf="isShowConfirmPassword" (click)="isShowConfirmPassword = !isShowConfirmPassword"
              class="bi bi-eye position-absolute icon-eye"></i>
            <error-message [control]="control"></error-message>
          </div>
        </ng-container>
        <div class="d-grid mt-4 px-1">
          <button [disabled]="!formGroup.valid" class="btn btn-lg btn-primary" type="submit">
            Register
          </button>
        </div>
      </form>
      <div class="mt-4 text-center">
        <a class="btn btn-link">
          <h6>Forgot password</h6>
        </a>
      </div>
    </main>
  </div>
</div>